.cart{
    position: fixed;
    z-index: 10;
}
.cart-overlay{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 10;
}
.cart-content{
    position: fixed;
    top: 40%;
    bottom: 0;
    right: 0;
    background-color: rgba(210, 210, 210, 0.869);
    border: 1px solid black;
    border-radius: 30px 0 0 0;
    color: rgba(0, 0, 0, 0.58);
    padding: 0 2rem;
    height: 100%;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 11;
}
.cart-content:hover {
    background-color: rgb(207, 207, 207);
    color: black;
    transition: background-color 0.3s ease;
}
.cart-title{
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    border: none;
    padding-top: 0.2rem ;
    margin: 0.2rem 0;
}
.item-content{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item-button{
    background-color: rgba(70, 10, 10, 0.48);
    border-radius: 10px;
}