body.active-modal{
  overflow-y: hidden;
}
.modal, .overlay{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 10;
}
.overlay{
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.modal-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  padding: 2rem;
  border-radius: 10px;
  max-width: 600px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  z-index: 11;
}