.nav{
  color:white;
  background-color: rgb(152, 9, 9);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 1rem;
}
.nav ul{
  padding: 0;
  margin:0 ;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.5rem; 
}
.nav a{
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}
.nav li:hover{
  background-color: rgb(109, 12, 12);
  border-radius: 5px;
}
.active{
  background-color: rgb(109, 12, 12);
  border-radius: 5px;
}
.site-title{
  font-size: 2rem;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

.login-icon{
  height: 2.5rem;
  width: 2.5rem;
}
.login-icon:hover{
  cursor: pointer;
  background-color: rgb(109, 12, 12);
  border-radius: 50%;
}
