.page-container{
  padding: 1rem 4rem;
  margin-top: 2rem;
  font-family: Arial, sans-serif;
  font-size : 1.5rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-container h1{
  color: white;
  font-size: 2rem;
  background-color: green;
  border: none;
  border-radius: 30px;
  padding: 0.5rem 1rem;
}