.register-form{
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 250px;
    background-color: rgba(6, 105, 6, 0.155);
    border-radius: 20%;
}
.register-input{
    padding: 10px 20px;
    font-size: 15px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    border: none;
}
.register-button{
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    font-size: 15px;
    border-radius: 20px;
    border: none;
}
.register-text{
  color: black;
  text-decoration: none;
}