.search-bar{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.search-icon{
  margin-left: 1rem;
  height: 2rem;
  width: 2rem;
}
.store-bar {
  background-color: rgb(206, 206, 206);
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.search-input{
  padding: 0 1rem;
  height: 2rem;
  width: 20rem;
  border-radius: 20px;
  border: none;
}
.shopping-cart-icon{
  margin-right: 1rem;
  height: 2.5rem;
  width: 2.5rem;
  border: 1px solid black;
  border-radius: 20%;
}
.shopping-cart-button{
  height: 3rem;
  width: 3rem;
  padding: 0;
  margin: 0.1rem;
  margin-right: 1rem;
  border: none;
  background-color: inherit;
}
.shopping-cart-icon:hover{
  background-color: rgb(159, 159, 159);
  border-radius: 10px;
  cursor: pointer;
  border: none;
}
