.search-icon{
  margin-left: 1rem;
  height: 1.5rem;
  width: 1.5rem;
}
.store-bar {
  background-color: rgb(206, 206, 206);
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.5rem;
}
.search-input{
  padding: 0 1rem;
  height: 1.5rem;
  width: 80%;
  border-radius: 20px;
  border: none;
}
